@font-face {
    font-family: 'Source Code Pro';
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800;
    font-style: normal;
    src: url(/assets/SourceCodePro.ttf) format('truetype');
}

body {
    font-family: 'Source Code Pro', Courier, monospace;
    background-color: black;
    color: white;
    overflow: hidden;
    user-select: none;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

#display {
    display: flex;
    align-items: stretch;
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100vw - 4px);
    height: calc(100vh - 4px);
    border: 2px solid white;
    overflow: hidden;
}

/* dropdown and controls */

#dropdown {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 120px;
    line-height: 0px;
    background-color: black;
    border-bottom: 4px solid white;
    transition: 200ms ease transform;
    --tabImage: url(./assets/arrow-up.svg);
    z-index: 998;
}
#dropdownTab {
    position: absolute;
    bottom: -40px;
    left: 0px;
    width: 32px;
    height: 32px;
    background-color: black;
    border: 4px solid white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: var(--tabImage);
    cursor: pointer;
}
#dropdownTabCheckbox {
    opacity: 0;
}
#dropdownTabCheckbox:checked~#dropdown {
    transform: translateY(-100%);
    --tabImage: url(./assets/arrow-down.svg);
}

#mediaControls {
    display: grid;
    grid-template-columns: min-content min-content min-content min-content 1fr;
    grid-template-rows: 50% 50%;
    border-left: 4px solid white;
    border-right: 4px solid white;
}

#volumeBody {
    grid-row:  1 / 3;
    grid-column: 1;
    position: relative;
    width: 50px;
    margin: 0px 0px;
    overflow: clip;
}
#volumeTrack {
    position: absolute;
    top: 0px;
    left: 18px;
    width: 10px;
    height: 120px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: #333;
    pointer-events: none;
}
#volumeThumb {
    position: absolute;
    bottom: calc((100% - 15px) * var(--volume));
    left: 10px;
    width: 30px;
    height: 15px;
    border: none;
    background-color: gray;
    pointer-events: none;
    --volume: 1;
}
#volumeThumb::before {
    content: '';
    position: absolute;
    top: 15px;;
    left: 10px;
    width: 10px;
    height: 100vh;
    background-color: #477fd8;
    pointer-events: none;
}
#volume {
    appearance: slider-vertical;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    border: none;
    opacity: 0;
    cursor: grab;
}
#volume:active {
    cursor: grabbing;
}
#seekerBody {
    grid-row: 1;
    grid-column: 2 / 6;
    position: relative;
    min-width: 180px;
    margin: 0px 0px;
    background-color: #333;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    transition: 500ms ease min-width;
    overflow: clip;
}
#seekerThumb {
    position: absolute;
    top: 0px;
    left: calc((100% - 20px) * var(--progress));
    width: 20px;
    height: 56px;
    background-color: lightgray;
    pointer-events: none;
    --progress: 0;
}
#seekerThumb::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 20px;
    width: 100vw;
    height: 56px;
    background-color: #555;
    pointer-events: none;
}
#seeker {
    appearance: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    border: none;
    opacity: 0;
    cursor: grab;
}
#seekerBody:hover {
    min-width: 540px;
}
#seeker:active {
    cursor: grabbing;
}
#playButtonLabel {
    grid-row: 2;
    grid-column: 2;
    background-color: #A00;
    color: white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-image: url(./assets/play.svg);
    aspect-ratio: 1;
    cursor: pointer;
}
#playButton {
    display: none;
}
#playButton:checked + #playButtonLabel {
    background-color: #070;
    background-image: url(./assets/pause.svg);
}
#timeDisplay {
    grid-row: 2;
    grid-column: 3;
    min-width: 50px;
    padding: 4px 8px;
    border-right: 4px solid white;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
}
#exportButton {
    grid-row: 2;
    grid-column: 4;
    margin-right: -4px;
    background-color: dodgerblue;
    color: white;
    border-right: 4px solid white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: url(./assets/save.svg);
    aspect-ratio: 1;
    /* cursor: pointer; */
    cursor: not-allowed;
}

#tileSource {
    flex-grow: 1;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-left: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
}
#tileSource::-webkit-scrollbar {
    height: 8px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #333;
}
#tileSource::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}

.tileSource {
    position: relative;
    width: 140px;
    min-width: 140px;
    height: 108px;
    border: 2px solid white;
    border-radius: 8px;
    margin-right: 8px;
    overflow: clip;
    cursor: grab;
}
.tileSourceImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: clip;
}
.tileSourceImg {
    max-width: 100%;
    max-height: 100%;
    image-rendering: pixelated;
}
.tileSourcePopup {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 132px;
    padding: 0px 4px;
    border-top: 2px solid white;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    background-color: black;
    transition: 100ms linear opacity;
    opacity: 0;
    pointer-events: none;
}
.tileSource:hover .tileSourcePopup {
    opacity: 1;
}

/* shared styles */

.hidden {
    display: none;
}
.flipped {
    transform: scaleX(-100%);
}

.uploadButton {
    display: none;
}
.uploadButtonLabel {
    display: inline-block;
    height: 14px;
    margin: 4px 2px;
    padding: 2px 4px;
    background-color: gray;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.selectBox {
    display: inline-block;
    height: 18px;
    margin: 4px 2px;
    padding: 0px 4px;
    border: none;
    color: white;
    background-color: gray;
    font-family: 'Source Code Pro', Courier, monospace;
    font-size: 12px;
    border-radius: 4px;
}

.colorBox {
    appearance: none;
    display: inline-block;
    position: relative;
    top: 4px;
    height: 26px;
    margin: -4px 2px;
    margin-bottom: -8px;
    padding: 0px 0px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.colorBox::-webkit-color-swatch {
    border: 2px solid white;
}

/* tile things */

.tileGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-grow: 1;
}
.tileGroupVertical {
    flex-direction: column;
}
.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 1;
    padding: 8px 8px;
    border: 2px solid white;
}

.tileDrag {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    background-color: grey;
    transition: 200ms linear opacity;
    opacity: 0;
    cursor: grab;
    z-index: 2;
}
.tileDrag:hover {
    opacity: 1;
}
.tileRemove {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    background-color: tomato;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: url(./assets/delete.svg);
    cursor: pointer;
}

.tileSourceUploadCover {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.tileSourceUpload {
    display: none;
}
.tileSourceUploadLabel {
    height: 24px;
    padding: 6px 8px;
    font-size: 18px;
}

.tileDisplay {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
}
.tileCanvasContainer, .tileImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.tileCanvas, .tileImg {
    position: fixed;
}

.tileControls {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    border-top: 2px solid white;
    transition: 200ms linear opacity;
    opacity: 0;
    z-index: 0;
}
.tileControls:hover {
    opacity: 1;
}
.tileImgUpload {
    display: none;
}
.tileImgUploadLabel {
    background-color: dodgerblue;
}

#draggingContainer {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    opacity: 0.5;
    pointer-events: none;
    z-index: 999;
}